---
layout: layouts/base.njk
---

<section class="main">
  <div class="main-container">
    <div class="title">{{ site.title }}</div>
    <div class="description">{{ site.description }}</div>
    <div class="paper-img">
      <img src="/assets/comecome.png"/>
    </div>
  </div>

</section>