body{
    background: #f2f2f2
}

.main {
  display: grid;
  grid-template-rows: 30% 1fr 30%;
  grid-template-columns: 35% 1fr 35%;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.main-container {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  display: grid;
  grid-template-rows: 20% 40% 40%;
}

.title {
  grid-row: 1 / span 1;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.description {
  grid-row: 2 / span 1;
  font-size: 20px;
  font-weight: 400;
  text-justify: inter-word;
}

.paper-img {
  grid-row: 3 / span 1;
  align-self: center;
  justify-self: center;
}

.paper-img > img {
  /* object-fit: cover; */
  
  width: 120px;
  height: 120px;
}
